

#searchBar {
    /* margin-left: 100px; */
    margin-bottom: 25px;
    margin-right: 20px;
}


.eventImage {
    text-align: center;
    /* width: 100%; */
    background-color: #90aa86;

    
}
#logo{
    display: inline-block;
    margin:0 auto;
}

.imageBox:hover {
    
    filter: drop-shadow(8px 8px 10px black);
    transform: scale(1.2);
    /* filter: sepia(100%); */
}

#chooseGenre {
    background-color: red;
}

li:hover {
    background-color: #90aa86;
    color: #90aa86;
}

#dropdownMenu1 {
    width: 850px;
    text-align: center;
}
